# Default ignored files
/shelf/
/workspace.xml
*.iml
*.ipr
*.iws
.idea
out
build
.gradle
/BotManager/target/
/Shared/target/

BotManager/src/main/java/core/restricted/LoadAccounts.java
src/main/java/core/restricted/LoadAccounts.java
core/restricted/LoadAccounts.java

Shared/src/config/PrivateSharedConfig.java
PlayerVariables.csv
/logs/
*.log


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

